<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="Student1" class="cn.wn.entity.Student">
        <property name="id" value="1"></property>
        <property name="name" value="张3"></property>
        <property name="age" value="19"></property>
    </bean>

    <bean id="Student2" class="cn.wn.entity.Student">
        <property name="id" value="2"></property>
        <property name="name" value="李4"></property>
        <property name="age" value="20"></property>
    </bean>

    <!-- 通过有参构造创建对象(constructor-arg) -->
    <bean id="Student3" class="cn.wn.entity.Student">
        <constructor-arg name="id" value="3"></constructor-arg>
        <constructor-arg name="name" value="王5"></constructor-arg>
        <constructor-arg name="age" value="21"></constructor-arg>
    </bean>

</beans>